*{
    margin: 0px;
    padding: 0px;
    
}
body{
    width: 100%;
    height: 100%;
    background-color: azure;
}
h1{
    text-align: center;
    color: orangered;
    text-decoration: underline;
}
.Dict{
    
    justify-items: center;
}